<!DOCTYPE html> 
{% load staticfiles %}

<html>

<head>
    <title>First App</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>

<body>
   {% comment %} <h1>Hi! This is a picture of a flower</h1>
    <img src="{% static "images/flower.jpg" %}" alt="Oh no something went wrong"></img> {% endcomment %}
    <h1>Hi welcome</h1>
    <h2>Here are your access records</h2>

    {% if access_records%}

    <table>
        <thead>
            
            <th>Site Name</th>
            <th>Data Accessed</th>
        </thead>
   

    {% for acc in access_records%}
    <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }}</td>
    </tr>
        {% endfor %}

</table>


{% else %}

     <p>No Access records Found</p>

{% endif %}
</body>
</html>
